.forminputs:hover {
    cursor: pointer !important;
}

.forminputs {
    padding: 10px 5px 10px 5px;
    color: #2FBCD3;
    border-radius: 3px;
    font-size: 13.5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

.containerinputs {
    width: 80%;
    margin: 5% auto;
    background: #fff;
    padding: 5%;
}

.file-placeholder {
    position: relative;
    cursor: pointer;
    width: 400px;
    height: 40px;
    /*
    you can use the label to trigger the event    */
    /*
    or the input file. here I use both but you don't have to   */
}

.file-placeholder label {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 40px;
}

.file-placeholder label:before {
    content: "File";
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: #c7c7c7;
    padding: 2px 5px;
    color: #fff;
}

.file-placeholder input[type="file"] {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 40px;
    opacity: 0;
}

.file-placeholder .file-browse {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
}

.file-placeholder .file-browse .file-browse-txt {
    display: block;
    float: left;
    line-height: 40px;
    width: 80%;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-placeholder .file-browse .file-browse-txt.hasValue {
    background-color: #ededed;
}

.file-placeholder .file-browse .browse {
    display: block;
    float: left;
    width: 20%;
    background-color: #42b5e8;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
