.fonts {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: #696767;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #696767;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: #696767;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #696767;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #696767;
}

a {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.Toastify__toast--info {
    background: #2FBCD3;
}

.Toastify__toast--error {
    background: #F8727F;
}
