/** searchbar **/

/** background color de la seach**/
.search{}

/** color placeholder **/
.search, input::placeholder{}
/** color de saisie **/
.search, input{}
/** le service | l'adresse | les dates **/
.search label{}

.customlayoutaccountbackground{
    background-color: yellow !important;
}

.customeditprofiltextfield input{
    color: white !important
}

.customboxlayoutaccount{
    background-color: green !important;
}
