.e-dlg-header-content{
    background-color: #f87280!important;
}
.e-dlg-header, .e-dlg-header *{
    color:white!important;
}

.e-btn.e-flat, .e-css.e-btn.e-flat{
    background-color:white!important;

}

.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary{
    color:#4fbdd7!important;
}

.e-btn.e-flat, .e-css.e-btn.e-flat{
    color:grey!important;
}

.e-dialog .e-dlg-header-content + .e-dlg-content{
    padding:3%!important;
}

.e-btn.e-primary:hover, .e-css.e-btn.e-primary:hover{
    background-color:#4fbdd7!important;
    color:white!important;
}

.e-btn.e-primary.e-active, .e-css.e-btn.e-primary.e-active{
    background-color:#4fbdd7!important;
}


.editorTemplate{
    padding:1%;
}

.editorTemplateContent{
    padding: 1%;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment{
    background-color: #a0d6e4!important; ;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text, .e-schedule .e-schedule-toolbar .e-active-view .e-icons {
    color: #f87280!important;
}

.e-schedule .e-vertical-view .e-header-cells.e-current-day{
    color: #f87280!important;
}
