
div(style={"font-size": "24", "font-family": "Arial, Helvetica, sans-serif"})
  p Bonjour #{firstname} #{name}, 
  p Toute l'équipe My Alfred vous souhaite la bienvenue au sein de la communauté My-Alfred ! 
  | Afin de valider votre inscription, veuillez confirmer votre email en cliquant sur le lien ci-après : 
  a(href='#{validation_url}') valider mon inscription.
  p Vous souhaitez devenir Alfred et proposer vos services ? 
  | Cliquez sur 
  a(href='https://my-alfred.io/becomeAlfredForm') créer ma boutique 
  | et configurez les services que vous souhaitez proposer !
  p A très bientôt, 
  p Alfredement vôtre, 
  p L'équipe My-Alfred
