<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" lang="fr">

head
    style
        include style.css

<body bgcolor="#EAF0F6" style="margin:0 !important; padding:0 !important; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word">
    <div class="hse-body-background" style="background-color:#eaf0f6" bgcolor="#eaf0f6">
        <table role="presentation" class="hse-body-wrapper-table" cellpadding="0" cellspacing="0" style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; margin:0; padding:0; width:100% !important; min-width:320px !important; height:100% !important" width="100%" height="100%">
            <tbody>
                <tr>
                    <td class="hse-body-wrapper-td" valign="top" style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word">
                        <div id="hs_cos_wrapper_main" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_email_flex_area" style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget" data-hs-cos-type="email_flex_area">
                            <div id="builtin_section-0" class="hse-section hse-section-1-col hse-section-first" style="padding-left:10px; padding-right:10px; padding-top:20px">
                                <div id="builtin_column_0-0" class="hse-column">
                                    <div id="hs_cos_wrapper_builtin_module_0_0_0" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                        <table class="hse-image-wrapper" role="presentation" width="100%" cellpadding="0" cellspacing="0" style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt">
                                            <tbody>
                                                <tr>
                                                    <td align="center" valign="top" style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; color:#23496d; word-break:break-word; text-align:center; padding:10px 20px; font-size:0px">
                                                        <!-- img alt="logo final My Alfred-1" src="https://my-alfred.io/static/logo_final_My-Alfred.svg" style="outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; max-width:100%; font-size:16px" width="208" align="middle" sizes="(max-width: 208px) 100vw, 208px" -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="builtin_section-1" class="hse-section hse-section-1-col" style="padding-left:10px; padding-right:10px">
                            <div class="hse-column-container" style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#ffffff; padding-bottom:30px; padding-top:30px" bgcolor="#ffffff">
                                <div id="builtin_column_1-0" class="hse-column">
                                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt">
                                        <tbody>
                                            <tr>
                                                <td style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                    <div id="hs_cos_wrapper_builtin_module_1_0_0" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                                        <div id="hs_cos_wrapper_builtin_module_1_0_0_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                                                            <p style="mso-line-height-rule:exactly; line-height:175%; margin-bottom:10px">Bonjour #{firstname} #{name},&nbsp;</p>
                                                            <p style="mso-line-height-rule:exactly; line-height:175%; margin-bottom:10px">Toute l'équipe My Alfred vous souhaite la bienvenue au sein de la communauté My-Alfred !&nbsp;</p>
                                                            <p style="mso-line-height-rule:exactly; line-height:175%; margin-bottom:10px">Afin de valider votre insciption, veuillez confirmer votre email en cliquant sur le lien ci-dessous:&nbsp;</p>
                                                            a(href=`${validation_url}`) valider mon inscription
                                                            <p style="mso-line-height-rule:exactly; line-height:175%; margin-bottom:10px">&nbsp;</p>
                                                            <p style="mso-line-height-rule:exactly; line-height:175%"><strong>Vous souhaitez&nbsp;devenir Alfred et proposer vos services ?&nbsp;<br></strong>Cliquez sur créer ma boutique et configurez les services que vous souhaitez proposer !</p>
                                                            <p style="mso-line-height-rule:exactly; line-height:175%">&nbsp;</p>
                                                            <p style="mso-line-height-rule:exactly; line-height:175%; margin-bottom:10px">A très bientôt,&nbsp;</p>
                                                            <p style="mso-line-height-rule:exactly; line-height:175%; margin-bottom:10px">Alfredement votre,&nbsp;
                                                                <br>L'équipe My-Alfred</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="builtin_section-2" class="hse-section hse-section-1-col" style="padding-left:10px; padding-right:10px">
                            <div id="builtin_column_2-0" class="hse-column">
                                <div id="hs_cos_wrapper_builtin_module_2_0_1" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                    <table role="presentation" class="hse-footer hse-secondary" width="100%" cellpadding="0" cellspacing="0" style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; text-align:center; font-family:Arial, sans-serif; font-size:12px; line-height:135%; color:#23496d; margin-bottom:0; padding:0" align="center">
                                    </table>
                                </div>
                            </div>
                        </div>
    </div>
    </div>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
</body>

</html>
