a {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important
}

#outlook a {
    padding: 0
}

.yshortcuts a {
    border-bottom: none !important
}

p {
    margin: 0
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale
}

@media only screen and (min-width:640px) {
    .hse-section-full-width.hse-section .hse-column-container {
        max-width: 100% !important;
        width: 100% !important
    }
    .hse-section-full-width.hse-section .hse-column {
        max-width: 100% !important;
        width: 100% !important;
        display: block !important
    }
    .hse-column-container {
        max-width: 600px !important;
        width: 600px !important
    }
    .hse-column {
        display: table-cell;
        vertical-align: top
    }
    .hse-section-1-col .hse-column {
        max-width: 600px !important;
        width: 600px !important
    }
    .hse-section-2-col .hse-column {
        max-width: 300px !important;
        width: 300px !important
    }
    .hse-section-2-col .hse-wide {
        max-width: 400px !important;
        width: 400px !important
    }
    .hse-section-2-col .hse-narrow {
        max-width: 200px !important;
        width: 200px !important
    }
    .hse-section-3-col .hse-column {
        max-width: 200px !important;
        width: 200px !important
    }
    .hse-section-4-col .hse-column {
        max-width: 150px !important;
        width: 150px !important
    }
}

@media only screen and (max-width:639px) {
    img.stretch-on-mobile,
    .hs_rss_email_entries_table img {
        height: auto !important;
        width: 100% !important
    }
    .display_block_on_small_screens {
        display: block
    }
}
