@-webkit-keyframes top {
    from {
      -webkit-transform: translate(0rem, 0);
              transform: translate(0rem, 0);
    }
    to {
      -webkit-transform: translate(0rem, 3.5rem);
              transform: translate(0rem, 3.5rem);
    }
  }
  
  @keyframes top {
    from {
      -webkit-transform: translate(0rem, 0);
              transform: translate(0rem, 0);
    }
    to {
      -webkit-transform: translate(0rem, 3.5rem);
              transform: translate(0rem, 3.5rem);
    }
  }
  @-webkit-keyframes bottom {
    from {
      -webkit-transform: translate(-11.5rem, 0);
              transform: translate(-11.5rem, 0);
    }
    to {
      -webkit-transform: translate(0rem, 0);
              transform: translate(0rem, 0);
    }
  }
  @keyframes bottom {
    from {
      -webkit-transform: translate(-11.5rem, 0);
              transform: translate(-11.5rem, 0);
    }
    to {
      -webkit-transform: translate(0rem, 0);
              transform: translate(0rem, 0);
    }
  }
  .btnspecial {
    position: relative;
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    color: #111111;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  }
  .btnspecial::after, .btnspecial::before {
    content: "";
    position: absolute;
    height: 10px!important;
    width: 10px!important;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
    border-radius: 50%;
  }
  .btnspecial::before {
    background-color: #c92918;
    top: -0.75rem;
    left: -0.75rem;
    -webkit-animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
            animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
  }
  .btnspecial::after {
    background-color: #e74c3c;
    top: 3rem;
    left: 8rem;
    -webkit-animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
            animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
  }
  .btnspecial:hover {
    color: white;
  }
  .btnspecial:hover::before, .btnspecial:hover::after {
    top: 0;
    height: 100%!important;
    width: 100%!important;
    border-radius: 0;
    -webkit-animation: none;
            animation: none;
  }
  .btnspecial:hover::after {
    left: 0rem;
  }
  .btnspecial:hover::before {
    top: 0.5rem;
    left: 0.35rem;
  }