body{
    background-image: 'url(bailey-zindel-396399-unsplash.jpg)';
    background-size: 'cover';
    background-position: 'center';
    Overflow-x: hidden!important;
    max-width: 100%!important;
}

