/* width */
.contentsticky::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .contentsticky::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
    display: none; 
  }
  
  /* Handle */
  .contentsticky::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90); 
  }
  
  /* Handle on hover */
  .contentsticky::-webkit-scrollbar-thumb:hover {
    background: rgb(99, 98, 98); 
  }