/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
    display: none; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6099AB; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #71B5CB; 
  }