form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: 1px transparent solid;
}
.menu-item-wrapper {
  border: 1px transparent solid;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.scroll-menu-arrow--disabled {
  visibility: hidden;
}

.NavBar-root-7 + div,
.login-fullContainer-1 {
  top: 100px !important;
}
