.contentWarper {
    display: flex;
    flex-direction:row;
    background-color: #D0D0D0;
    border-radius: 50px;
    justify-content: space-around
}

.contentCheckBox {
    display:flex;
    align-items: center;
}
